{% extends "MiBlogApp/father.html" %}

{% load static %}

{% block contentToChange %}

<!-- Abro seccion con legend -->
<section class="salvaje-legend my-3">
    <h1 class="text-center"> Rompiendo las reglas de la moda masculina. Encontra TU moda en SALVAJE </h1>
</section>
<!-- Cierro seccion con legend -->

<!-- Abro seccion con carrusel (3 imagenes) -->
<section class="container mt-2">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="./Multimedia/Imagenes/Carousel_5.jpeg" class="d-block w-100" alt="Imagen modelo con remera blanca con estampa, jean color cammel y riñonera SALVAJE.">
            </div>
            <div class="carousel-item">
                <img src="./Multimedia/Imagenes/Carousel_6.jpeg" class="d-block w-100" alt="Imagen modelo con camisas estampadas coleccion verano 2022">
            </div>
            <div class="carousel-item">
                <img src="./Multimedia/Imagenes/Carousel_7.jpeg" class="d-block w-100" alt="Imagen modelo con remras blancas y remera negra SALVAJE">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>


{% endblock %}

{% block title %}

<h1 > About my Blog! </h1>

{% endblock %}