{% extends "MiBlogApp/father.html" %}

{% load static %}

{% block contentToChange %}

<div class="container m-4">
    <div class="row"> 
        <div class="col-9">
            {% for page in object_list %}

            <li class="fs-5"> {{page}} </li>

            {% if not request.user.is_authenticated %}

                {% else %}
                    
                        <a class="btn btn-light m-2 fst-italic btn-sm" href="{% url 'detail_page' page.id %}">Detail</a>
                        <a class="btn btn-light m-2 fst-italic btn-sm" href="{% url 'edit_page' page.id %}">Edit</a>
                        <a class="btn btn-danger m-2 fst-italic btn-sm" href="{% url 'delete_page' page.id %}">Delete</a>
                    
            {% endif %}

            {% empty %}

            <h1> There are 0 pages listed in the blog </h1>

            {% endfor %}
        </div> 
        <div class="col-3">
            {% if not request.user.is_authenticated %}
                <h4 class="alert alert-primary" role="alert"> Log in to view pages detail. </h4>
                {% else %}
        
                <a class="btn btn-success mt-2" href="{% url 'create_page' %}"> Create new page </a>
        
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}


{% block title %}

<h1> Pages </h1>

{% endblock %}